.header {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  background-color: $bgcollight;
  opacity: 0.9;
  z-index: 9999;

  & a {
    text-decoration: none;
    transition: $transition;
  }

  & a:hover {
    color: #30303080;
    transition: $transition;
  }

  &_part {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  & .logo {
    width: 125px;
    height: 100px;
    background-image: url(../images/logo_small.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: height 0.7s;
  }

  & .phone {
    color: $fcolthird;
    font-size: 35px;
  }

  & .navigation {
    display: flex;
    align-items: center;
    height: 62px;
    background-color: transparent;
  }
}

@media (max-width: 1200px) {
  .header {
    &_part {
      flex-direction: column-reverse;
      align-items: center;
      justify-content: center;

      & .dropdown {
        margin: 0px 15px;
      }
    }

    & .logo {
      width: 100px;
      height: 100px;
    }

    & .navigation {
      & .nav {
        position: relative;

        & .burgerbtn {
          display: inline-block;
        }

        &_menu {
          display: none;
          background-color: $bgcoldark;
          z-index: 999;
          padding: 10px;
          flex-direction: column;
          align-items: flex-start;
          justify-content: space-evenly;
          position: absolute;
          top: 100%;
          right: 0;
          animation: growDown 300ms ease-in-out forwards;
          transform-origin: top center;
          box-shadow: 0 8px 20px 0 #0000001a;
          border-radius: 15px 0 15px 0;

          &.open {
            display: flex;
          }

          &-link {
            text-transform: none;
          }
        }
      }
    }
  }
}

@media (max-width: 620px) {
  .header {
    & .dropdown,
    & .phone {
      font-size: 24px;
    }

    & .logo {
      width: 40px;
      height: 40px;
    }

    & .navigation {
      & .nav {
        display: flex;
        align-items: center;
        justify-content: space-between;

        & .burgerbtn {
          display: block;
        }

        & .dropdown {
          display: flex;
          margin: 0 10px;
          padding: 10px 0;
        }

        & .phone {
          display: block;
          margin: 0;

          &::before {
            display: none;
          }
        }
      }

      & .search {
        margin: 0;
        position: relative;

        &-input {
          transition: $transition;
          position: absolute;
          right: 0;
          top: 100%;
          padding: 10px;
          background-color: #f8f8f8;
          display: none;
          animation: growDown 300ms ease-in-out forwards;
          transform-origin: top center;

          &.open {
            display: block;
          }
        }
      }
    }
  }
}
