.main_about {
  padding-bottom: 40px;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
  }

  &__description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    flex: 2;
    height: 200px;
    width: 500px;

    & p {
      font-size: 18px;
      min-width: 280px;
    }
  }
}
