.main_articles {
  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
    gap: 15px;
    width: 300px;
    height: 300px;
    background-color: $bgcoldark;
    padding: 15px;
    border-radius: 50%;
    transition: $transition;

    &:hover {
      box-shadow: 0 16px 32px #0000001a;
      transition: $transition;
    }

    & .item__img {
      transition: $transition;
      border-radius: 50%;
      height: 100px;
    }

    & .item__date {
      @include font-inter-600;
      color: $fcolprime;
      font-size: 24px;
    }

    & .item__text {
      @include font-inter-400;
      font-size: 16px;
      color: $fcolprime;
    }
  }
}
