.main_about {
  padding: 0 0 40px 0;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
  }

  &__description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    flex: 2;
    height: 800px;
    width: 500px;
    text-align: center;
    background-image: url("../images/bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    & h3 {
      @include font-prata-400;
      font-size: 240px;
      line-height: 300px;
      color: $fcolthird;

      @media (max-width: 800px) {
        font-size: 90px;
      }
    }

    & p {
      font-size: 30px;
      line-height: 34px;
      min-width: 280px;
      color: $fcolthird;
    }
    @media (max-width: 800px) {
      height: 600px;
    }
  }
}
