.nav {
  & .burgerbtn {
    display: none;
  }

  &_menu {
    display: flex;
    min-width: 220px;
    gap: 20px;

    &-link {
      text-decoration: none;
      display: block;
      box-sizing: border-box;
      text-transform: uppercase;
      color: $fcolprime;
      border: none;
      background-color: transparent;
      transition: $transition;

      &:hover {
        color: #30303080;
        transition: $transition;
      }
    }

    &-item {
      display: flex;
      padding: 5px;
      align-items: flex-end;
      list-style-type: none;
    }
  }
}
